page-home-page {
  #list{
    width: 170px;
    height: 150px;
  }
  ion-content {
    overflow: hidden;
  }
  .recommend {
      height: 40%;
      width: 100%;
  }
  .title{
    font-weight: 700;
    font-size: 1.7;
    line-height: 1.0em;
    color: #000000;
    font-family: 윤고딕;
  }
}
